@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family:"Confortaa-bold";
    src: url("./assets/fonts/Comfortaa-Bold.ttf")
}

.bg-fullscreen{
    @apply h-full w-full bg-cover bg-auto min-w-full min-h-full
}

.animation-buttom{
    @apply transition hover:text-white-solid hover:bg-orange hover:border-white-solid hover:border-2 
}

.title-normal{
    @apply text-2xl font-bold text-center
}

.form-normal{
    @apply flex flex-col space-y-5 w-80
}

.input-normal{
    @apply h-[5vh] shadow-lg text-lg text-center rounded-full min-h-[2rem]
}

.input-normal-v2{
    @apply shadow-lg rounded-lg caret-orange p-2 border-2 border-white-solid focus:outline-none focus:border-dark-orange
}
.input-normal-v3{
    @apply shadow-lg rounded-lg caret-orange p-2 border-2 border-white-solid focus:border-dark-orange focus:outline-none
}

.input-normal-v4{
    @apply shadow-lg rounded-lg caret-orange p-2 border-2 bg-white border-white-solid focus:border-dark-orange focus:outline-none
}

.input-bad{
    @apply h-10 text-lg text-center rounded-full bg-red
}

.buttom-active{
    @apply shadow-lg rounded-lg bg-orange p-2 border-2 border-white-solid text-center cursor-pointer
}

.buttom-inactive{
    @apply shadow-lg rounded-lg bg-gray p-2 border-2 border-white-solid text-center cursor-pointer
}

.text-error-message{
    @apply text-xs text-left space-y-0 text-red
}

.normal-buttom{
    @apply bg-white shadow-lg rounded-full border-2 border-white cursor-pointer text-black py-2 px-7 font-bold hover:bg-orange text-lg animation-buttom
}

.center-div{
    @apply h-[90%] flex flex-col shadow-lg place-content-center items-center font-confortaa overflow-auto  min-h-min
}

.center-card{
    @apply w-[97%] h-[80%] shadow-lg flex flex-col space-y-10 bg-white place-content-center items-center rounded-lg  min-h-min
}
.top-card{
    @apply w-[97%] h-[80%] shadow-lg flex flex-col space-y-10 bg-white items-center rounded-lg  min-h-min
}

.center-content-cards{
    @apply w-[97%] h-[80%] shadow-lg flex flex-col space-y-10 bg-white place-content-center items-center rounded-lg text-2xl font-bold 2xl:overflow-hidden
}

.center-content{
    @apply w-[97%] h-[80%] shadow-lg flex flex-col space-y-10 bg-white place-content-center items-center rounded-lg text-2xl font-bold
}

.center-list-div{
    @apply w-full my-1
}

.nav-header{
    @apply bg-gray flex flex-row justify-between sticky top-0 z-50 w-full min-w-max
}

.nav-list{
    @apply flex flex-row font-confortaa
}

.nav-list-item{
    @apply flex content-center
}

.nav-list-buttom{
    @apply text-black py-2 px-7 font-bold hover:text-orange text-lg
}

.list{
    @apply flex flex-row font-confortaa space-x-3 ml-8
}

.list-item{
    @apply flex content-center
}

.list-cards{
    @apply grid xl:grid-cols-4 xl:grid-rows-3  md:grid-cols-3 md:grid-rows-2 gap-y-5 grid-cols-3 grid-rows-1 2xl:overflow-hidden overflow-auto
}

.card{
    @apply bg-white rounded-lg lg:mx-8 mx-1 xl:h-36 xl:w-72 lg:h-16 lg:w-56 md:h-20 md:w-36 sm:h-16 sm:w-24 flex flex-col justify-center shadow-lg 
    transition hover:bg-white-solid  hover:text-orange hover:scale-110 cursor-pointer
}

.card-title{
    @apply xl:text-3xl text-base m-2
}

.card-intro{
    @apply lg:text-xs m-2 hidden xl:block
}


.regular-buttom{
    @apply flex flex-row gap-x-2 text-black py-2 px-5 bg-white shadow-lg border-2 border-white
    rounded-full font-bold text-sm animation-buttom cursor-pointer
}



#root {
    height:100vh;
}

html { 
    background:  url('/src/assets/images/background2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  