@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family:"Confortaa-bold";
    src: url("./assets/fonts/Comfortaa-Bold.ttf")
}

.bg-fullscreen{
    @apply h-screen bg-nu-vector2
}

.title-normal{
    @apply text-2xl font-bold text-center
}

.form-normal{
    @apply flex flex-col space-y-5 w-80
}

.input-normal{
    @apply h-10 text-lg text-center rounded-full
}

.input-bad{
    @apply h-10 text-lg text-center rounded-full bg-red
}

.text-error-message{
    @apply text-xs text-left space-y-0 text-red
}

.buttom-normal{
    @apply bg-white-gray rounded-full text-black py-2 px-7 font-bold hover:bg-orange text-lg
}

.center-div{
    @apply h-5/6 flex flex-col place-content-center items-center font-confortaa   
}

.center-card{
    @apply h-5/6 w-5/6 flex flex-col space-y-10 bg-white place-content-center items-center rounded-lg
}

.list{
    @apply flex flex-row font-confortaa
}

.list-item{
    @apply flex content-center
}

.nav-list-buttom{
    @apply text-black py-2 px-7 font-bold hover:text-orange text-lg
}

#root {
    height:100vh;
}
  